  <!-- SIDEBAR -->
  
  <div id="sidebar">
    <a id="sbhead">Pages</a>
      <br>
      <ul>
        <li>
        <a href="http://ui-datascience.github.io/", id="sblink">Home</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/research", id="sblink">Research</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/people", id="sblink">People</a>
        <li>
        <a href="http://ui-datascience.github.io/teaching", id="sblink">Teaching</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/blog", id="sblink">Blog</a>
        </li>
      </ul>
  </div>