  <!-- NAVBAR -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" >

        <ul class="nav navbar-nav", style='font-size:120%'>
          <li>
          <a href="/index", id="sblink">Home</a>
          </li>
          <li>
          <a href="/people", id="sblink">People</a>
          <li>
          <a href="/teaching", id="sblink">Teaching</a>
          </li>
          <li>
          <a href="/news", id="sblink">News</a>
          </li>
          <li>
          <a href="/projects", id="sblink">Projects</a>
          </li>
          <li>
          <a href="/code", id="sblink">Code</a>
          </li>
      </ul>
    
  </div>
</nav>