  <!-- NAVBAR -->

<nav class="navbar navbar-inverse" style="margin-right:20px; margin-left:20px;">
  <div class="container-fluid" >

        <ul class="nav navbar-nav", style='font-size:150%'>
          <li>
          <a href="http://ui-datascience.github.io/", id="sblink">Home</a>
          </li>
          <li>
          <a href="http://ui-datascience.github.io/people", id="sblink">People</a>
          <li>
          <a href="http://ui-datascience.github.io/teaching", id="sblink">Teaching</a>
          </li>
          <li>
          <a href="http://ui-datascience.github.io/news", id="sblink">News</a>
          </li>
          <li>
          <a href="http://ui-datascience.github.io/projects", id="sblink">Projects</a>
          </li>
          <li>
          <a href="http://ui-datascience.github.io/code", id="sblink">Code</a>
          </li>
      </ul>
    
  </div>
</nav>