  <!-- SIDEBAR -->
  
  <div id="sidebar">
    <a id="sbhead">Pages</a>
      <br>
      <ul>
        <li>
        <a href="http://ui-datascience.github.io/", id="sblink">Home</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/people", id="sblink">People</a>
        <li>
        <a href="http://ui-datascience.github.io/teaching", id="sblink">Teaching</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/news", id="sblink">News</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/projects", id="sblink">Projects</a>
        </li>
        <li>
        <a href="http://ui-datascience.github.io/code", id="sblink">Code</a>
        </li>
      </ul>
  </div>